<div class="ef-contact grid gap-5 justify-center items-center">
    [text* your-name placeholder "Name"] 
    [email* your-email placeholder "Enter your email"]
    [tel* your-tel placeholder "Phone"]
    [text* your-subject placeholder "What would You like to talk about?"] 
    [textarea your-message placeholder "Message"] 
    <button type="submit" class="wpcf7-form-control wpcf7-submit ef-accent-alt-btn shrink-0 mx-auto">
        <span class="block relative z-10">Submit</span>
    </button>
</div>